#detail {
    padding-top: 80px;
    position: relative;
    align-items: center;
    margin: 5px auto;
    display: block;
}

#image {
    background-color: #eeeeee;
    text-align: center;
    margin: 10px 10px;
}

#image img {
    max-height: 300px;
}

#heads {
    margin: 0 10px;
    align-self: flex-start;
}

#heads .name {
    text-align: left;
    font-size: 25px;
    margin: 0 5px;
}

#heads .kana {
    margin: 0 5px;
    font-size: 10px;
}

#heads .heads hr {
    border-top: solid 5px #555555;
    border-radius: 2px;
    margin: 5px 0;
}

#heads article {
    display: block;
    position: relative;
}

#pr h3 {
    margin: 5px 0;
    border-bottom: #555555;
}

#pr {
    flex-basis: 50%;
    margin: 5px 0;
}

#info {
    flex-basis: 50%;
    margin: 0 5px;
}

#info {
    width: 100%;
    height: auto;
}

#info table {
    border-collapse: collapse;
    border-bottom: solid 1px #ccc;
}

#info table th, #info table td {
    padding: 5px;
    border-top: solid 1px #ccc;
}

#info table td {
    width: 20%;
}

#info table td {
    width: 80%;
}

#link {
    text-align: center;
    width: 100%;
    margin: 20px 0;
}

#link a {
    display: inline-block;
    margin: 0 auto;
    background-color: white;
    border-radius: 3px;
    letter-spacing: 1px;
    padding: 5px 50px;
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: .3s ease-out;
    text-decoration: none;
    color: black;
}

#link a:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

/* 1024px~ : pc向けデザイン */
@media screen and (min-width:1024px) {
    #detail {
        width: 900px;
    }
}

/* 768px~1024px : タブレット向けデザイン */
@media screen and (min-width:768px) and ( max-width:1023px) {
    #detail {
        width: 600px;
    }
}

/* ~768px : スマホ向けデザイン */
@media screen and (max-width:767px) {

    #detail {
        padding-top: 25px;
        margin: 0;
    }

    #image {
        position: relative;
        padding: 0;
        margin: 0;
        background-color: rgb(100, 15, 0);
    }

    #image img.back {
        width: 100%;
        height: 200px;
        opacity: 0.5;
        filter: blur(2px);
    }

    #image img.noimg {
        min-height: 50px;
        height: auto;
        padding: 5px;
    }

    #bottoms {
        display: flex;
        position: absolute;
        bottom: 5px;
        left: 5px;
        width: 100%;
        height: 80px;
    }

    #bottoms img.icon {
        flex-basis: 80px;
        width: 80px;
        height: auto;
        max-height: 80px;
    }

    #names  {
        margin: 0 5px;
        margin-top: auto;
        text-align: left;
        color: white;
    }

    #names h2.name {
        font-size: 16px;
    }

    #names span.kana {
        font-size: 7px;
    }

    #heads h2.name, #heads span.kana, #heads hr {
        display: none;
    }

    #pr {        
        text-align: left;
    }

    #pr h3 {
        font-size: 14px;
    } 

    #pr p {
        font-size: 12px;
    }

    #info th, #info td {
        font-size: 12px;
    }

    #link a {
        font-size: 14px;
    }
}