<html>
    <head>
        <title>RestaurantSearch</title>
        <link rel="stylesheet" href="./styles/style.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    </head>
    <body>
        <div id="top">
            <h1><a href="./index.html"><div class="material-icons">fastfood</div> RestSearch with GnaviAPI</a></h1>
        </div>
        <div id="main">
            <form id="form">
                <h3>SEARCH SETTINGS</h3>
                <table class="settings">
                    <tr>
                        <th>半径</th>
                        <td>
                            <select v-model="selected">
                                <option v-for="option in options" v-bind:value="option.value">
                                    {{ option.text }}
                                </option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>キーワード</th>
                        <td>
                            <input 
                                class="keyword" 
                                v-model="freeword" 
                                placeholder="keyword"
                                type="text">
                        </td>
                    </tr>
                </div>
                </table>
                <div class="search_button"><span @click="submit">SEARCH</span></div>
            </form>
            <div v-if="error_message">
                <p>
                    {{ error_message }}
                </p>
            </div>
            <div v-else>
                <div id="elements">
                    <div id="element" v-for="element in results">
                            
                        <div class="thumbnail">
                            <img v-if=element.image.shop_image1 :src="element.image.shop_image1" alt="shop_image">
                            <img v-else src="./images/no_image.png" alt="NO IMAGE">
                        </div>

                        <div class="content">
                            <span class="shop_name">{{ element.name }}</span>
                            <span class="category">({{ element.category}})</span><br>
                            <span class="shop_address">{{ element.address }}</span><br>
                            <span class="shop_access"><span
                                >{{ element.access.line }}{{ element.access.station}}</span
                                ><span v-if="element.access.station_exit">({{ element.access.station_exit }})</span
                                >から{{ element.access.walk }}分</span>
                        </div>

                        <a class="link" :href="'./detail.html?id=' + element.id"></a>
                    </div>
                </div>
            </div>
            <div id="paging">
                <span @click="prevPage">prev</span> 
                {{ page + 1 }} / {{ pages }}
                <span @click="nextPage">next</span>
            </div>
            <div id="footer">
                Supported by <a href="https://api.gnavi.co.jp/api/scope/" target="_blank">ぐるなびWebService</a>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="./scripts/index.js"></script>
    </body>
</html>