<html>
    <head>
        <title>RestaurantSearch</title>
        <link rel="stylesheet" href="./styles/style.css">
        <link rel="stylesheet" href="./styles/index.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="icon" href="./images/favicon.ico">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    </head>
    <body>
        <div id="top">
            <h1><a href="./index.html"><div class="material-icons">fastfood</div> <span>RestSearchApplication</span></a></h1>
        </div>
        <div id="main">
            <form id="form">
                <!--
                    検索設定フォーム
                -->
                <h3>レストラン検索設定</h3>
                <table class="settings">
                    <!--
                        半径検索エリア
                    -->
                    <tr>
                        <th>地方</th>
                        <td>
                            <select v-model="area" @change="getPrefCode">
                                <option v-for="area in areas" v-bind:value="area.value">
                                    {{ area.text }}
                                </option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>都道府県</th>
                        <td>
                            <select v-model="pref" @change="getStates">
                                <option v-for="pref in prefs" v-bind:value="pref.value">
                                    {{ pref.text }}
                                </option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>半径</th>
                        <td>
                            <select v-model="range" @change="saveSessionStorage">
                                <option v-for="range in ranges" v-bind:value="range.value">
                                    {{ range.text }}
                                </option>
                            </select>
                        </td>
                    </tr>
                    <!--
                        キーワード検索エリア
                    -->
                    <tr>
                        <th>キーワード</th>
                        <td>
                            <input 
                                class="keyword" 
                                v-model="freeword" 
                                placeholder="例) 名古屋 味噌カツ"
                                type="text"
                                @input="saveSessionStorage">
                        </td>
                    </tr>
                </div>
                </table>
                <div class="search_button"><span @click="submit">検索</span></div>
            </form>
            <div id="error_message" v-if="error_message">
                <!--
                    エラー時表示エリア
                -->
                <div class="material-icons">error_outline</div>
                <div class="error_content">
                    <h2 class="error_title">Error:{{ error.message }}</h2>
                    <p>{{ error_message }}</p>
                </div>
            </div>
            <div id="result" v-else>
                <!--
                    正常にレスポンスが返ってきたときのリザルト表示エリア
                -->
                <div id="elements">
                    <div id="element" v-for="element in results">
                        <!--
                            各リザルトは基本flexで表示し、要素内に画像と店舗名と店舗へのアクセスを含む
                        -->
                        <div class="thumbnail">
                            <img v-if=element.image.shop_image1 :src="element.image.shop_image1" alt="shop_image">
                            <img v-else src="./images/no_image.png" alt="NO IMAGE">
                        </div>

                        <div class="content">
                            <span class="shop_name">{{ element.name }}</span><br>
                            <span class="shop_access">
                                <span v-if="element.access.line">{{ element.access.line }}</span><span v-if="element.access.station">{{ element.access.station }}</span><span v-if="element.access.station_exit">({{ element.access.station_exit }})</span><span v-if="element.access.walk">から{{ element.access.walk }}分</span>
                        </div>

                        <a class="link" :href="'./detail.html?id=' + element.id"></a>
                    </div>
                </div>
            </div>
            <div id="paging">
                <!--
                    ページング用のボタンエリア
                -->
                <span @click="prevPage">前のページ</span> 
                {{ page + 1 }} / {{ pages }}
                <span @click="nextPage">次のページ</span>
            </div>
            <div id="footer">
                Supported by <a href="https://api.gnavi.co.jp/api/scope/" target="_blank">ぐるなびWebService</a>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="./scripts/index.js"></script>
    </body>
</html>